.App {
  max-width: 800px;
  display: block;
  margin: 80px auto;
}
.App h1 {
  margin-bottom: 2px;
}
.App h1 a {
  margin-top: 120px;
  text-decoration: none;
  color: #202124;
  font-size: 35px;
  font-weight: 400;
}
.App h2 {
  margin-left: 5px;
  display: inline-block;
}
.App small a {
  color: #202124;
  opacity: 0.7;
}

.App .word-sound {
  display: inline-block;
  margin: 5px 0;
}

.App .phonetic {
  font-size: 16px;
}
.App .part-of-speech {
  opacity: 0.7;
  font-style: italic;
}

.App .Synonyms {
  padding: 0 2px 2px 0;
}
.App .definition {
  opacity: 0.7;
}

.App .Play button {
  background-color: transparent;
  border: 1px solid #ddd;
  border-radius: 100%;
  padding: 1px;
}

.App .Play button:hover {
  background-color: #f4f4f4;
}

.App .Play svg {
  fill: #1c73e8;
  width: 35px;
  height: 35px;
}
.App li {
  list-style-type: disc;
}
