.Search {
  max-width: 800px;
  display: block;
  margin: 5px auto;
}
.Search .search-line {
  border-right: 0;
  border-color: #ddd;
}
.Search .btn-submit {
  border-left: 0;
  border-color: #ddd;
}
